[Unit]
Description=IBus input method daemon
PartOf=wayland-session@niri.target
After=wayland-session@niri.target

[Service]
ExecStart=/usr/bin/ibus-daemon --xim --panel=disable
Restart=on-failure

[Install]
WantedBy=wayland-session@niri.target
