[Unit]
Description=Polkit KDE authentication agent
PartOf=wayland-session@niri.target
After=wayland-session@niri.target

[Service]
ExecStart=/usr/libexec/kf6/polkit-kde-authentication-agent-1
Restart=on-failure

[Install]
WantedBy=wayland-session@niri.target
